<%- include("header") -%>

<h2>This is the about page</h2>

<p>There's not much about this app, other than it's a simple To Do list that keeps the list persistent through a mongoDB and runs with NodeJS as a backend</p>

<%- include("footer") -%>
